[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/jglrxavpok/assimp
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "thirdparty/tracy"]
	path = thirdparty/tracy
	url = https://github.com/wolfpld/tracy
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/jglrxavpok/imgui
[submodule "thirdparty/dr_libs"]
	path = thirdparty/dr_libs
	url = https://github.com/mackron/dr_libs/
[submodule "thirdparty/imgui_node_editor"]
	path = thirdparty/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "thirdparty/stduuid"]
	path = thirdparty/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "thirdparty/nativefiledialog-extended"]
	path = thirdparty/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "thirdparty/OpenXR-SDK-Source"]
	path = thirdparty/OpenXR-SDK-Source
	url = https://github.com/KhronosGroup/OpenXR-SDK-Source
[submodule "thirdparty/OpenXR-Hpp"]
	path = thirdparty/OpenXR-Hpp
	url = https://github.com/KhronosGroup/OpenXR-Hpp
[submodule "thirdparty/asio"]
    path = thirdparty/asio
    url = https://github.com/chriskohlhoff/asio
[submodule "thirdparty/asio"]
    path = thirdparty/ImGuizmo
    url = https://github.com/jglrxavpok/ImGuizmo